<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

 
<div ng-controller="BlogController as ctrl">	   
	<div ng-show="currentUser==''">	   
	<div class="alert alert-danger fade in">You are not logged in!</div>	   
	</div></div>	   
		   
	<div ng-hide="currentUser==''">	   
	<div class="container" ng-controller="BlogController as ctrl">	   
	<div class="form-group">	   
	<p style="font-family:'Sofia';color: #00688b;font-size: 60px;font-weight: bold;font-style: oblique;">	   
	{{selectedBlog.blog_title}}</p>	   
	<!-- <label>{{selectedBlog.blog_id}}</label> -->	   
	<br>	   
	Written By:<label>{{selectedBlog.user_name}}</label><br/>	   
	on <label>{{selectedBlog.creation_date}}</label>	   
	<br>	   
	<br>	   
		   
	<p style="font-style: italic;font-weight: bold;font-size: 20px;color: red;">{{selectedBlog.description}}</p><br/>	   
		   
	<button type="button" ng-click="ctrl.doLikes(selectedBlog.blog_id)" class="btn btn-danger btn-sm">	   
	<span class="glyphicon glyphicon-thumbs-up"></span> Like	   
	</button><p>{{selectedBlog.no_of_likes}}</p>	   
	     <br/><br/>	   
	     	   
	<form ng-submit="ctrl.doComment(selectedBlog.blog_id)" name="myForm" class="form-horizontal">	   
		   
	<div class="row">	   
	<div class="form-group col-md-12">	   
	<label class="col-md-2 control-lable" for="comments">Comment</label>	   
	<div class="col-md-7">	   
	<textarea rows="6" column="200" ng-model="ctrl.blogcomment.comments" id="comments"	   
	class="form-control input-sm" ></textarea>	   
	</div>	   
	</div>	   
	</div>	   
		   
	<div class="row">	   
	<div class="form-actions floatRight">	   
	<input type="submit" value="Comment" class="btn btn-danger btn-sm">	   
	</div>	   
	</div>	   
		   
	</form>	   
		   
	<div ng-repeat="blogcomment in ctrl.blogcomments">	   
	<p><span class="glyphicon glyphicon-edit"> {{blogcomment.comments}}</span></p><br/>	   
	<p>By: {{blogcomment.user_name}}  On: {{blogcomment.commentDate}} </p>	   
	</div>	   
	</div>	   
	<!-- 	   
		   
	<div class="container">	   
	<a href="#/view_blog_comment" ng-click="ctrl.getSelectedBlogComment(selectedBlog.blog_id)">See all comments</a>	   
		   
	<div ng-view></div>	   
	 -->	   
		   
	</div>	   
	</div>	 


		 

</body>
</html>