<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
 
<div ng-controller="RequestController as ctrl">	   
	<div ng-show="currentUser==''">	   
	<div class="alert alert-danger fade in">You are not logged in!</div>	   
	</div></div>	   
		   
		   
	<div class="container" ng-controller="RequestController as ctrl">	   
	Find friends	   
		   
	<div class="form-group"></div>	   
	Search	   
		   
	<p><input type="text" ng-model="user.ctrl.user_name"></p>	   
		   
	<table class="table table-hover">	   
	             	   
	      <tr>	   
	      <th></th>	   
	      <th>User Id</th>	   
		<th>User Name</th>	   
		<th>Email</th>	   
		<th>Contact</th>	   
		<th>Role</th>	   
		<th>Is Online</th>	   
		<th></th>	   
		<th></th>	   
			   
			   
	  </tr>	   
	  <tr ng-repeat="user in ctrl.users | filter:user.ctrl.user_name">	   
	      <td><img src="{{user.user_id}}.jpg"></td>	   
	      <td>{{user.user_id}}</td>	   
	      <td>{{user.user_name}}</td>	   
	      <td>{{user.email}}</td>	   
	       <td>{{user.contact}}</td>	   
	        <td>{{user.role}}</td>	   
	        <td>{{user.isOnline}}</td>	   
	           			   
	           			   
	 <td><button type="button" ng-click="ctrl.sendFriendRequest(user.user_id)"	   
	  class="btn btn-warning btn-sm">Send Friend Request</button></td>	   
	  	   
	  <td><a href="#/chat" class="btn btn-danger btn-sm">Chat</a></td>	   
	       	   
	           		   
	      </tr>	   
	  	   
		 </table>	   
		   
		   
	</div>	   
	<br/><br/><br/><br/><br/><br/><br/><br/>	   
		 

</body>
</html>